<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.scss">
  </head>

  <body>
    <div id = "app">
      <div class ="holder headline"> TRAVEL APP </div>

      <div class = "left">
        <div class ="holder zip main">
          <label for="zip">City*</label>
          <input type="text" id="zip" placeholder="enter zip code here">
        </div>

        <div class ="holder date main">
          <label for="feelings">Please enter travel dates*</label>
          <input type="date" id="travelDate">
        </div>

        <div class ="holder feel main">
          <label for="feelings">How are you feeling today?*</label>
          <textarea class= "myInput" id="feelings" placeholder="Enter your feelings here" rows="9" cols="50"></textarea>
          <button id="generate" type = "submit"> GENERATE </button>
        </div>
      </div>

      <div class ="holder entry">
        <div class = "title">Most Recent Entry</div>

        <div id = "entryHolder">
          <div id = "lat"></div>
          <div id = "long"></div>
          <div id = "country"></div>
          <div id = "countdown"></div>
          <div id = "weather"></div>
        </div>
      </div>

    </div>
    <script type="text/javascript" src="../../../dist/main.js"></script>
  </body>
</html>
