html {
  border: 1px solid blue;
}
body {
  /* background-color: yellow; */
  color: red;
  /* border: 1px solid black; */
}

.container {
  display: grid;
  width: 90vw;
  margin:auto;
  grid-template-columns: 3fr 6fr fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "top top top"
  "center center archives"
  "center center other"
  "bottom bottom bottom";
  border: 1px solid red;
}



.box {
  display: flex;
  color: red;
  /* padding: 30px; */
  border: 1px solid blue;
  /* width: 100px;
  height: 80px; */
  align-items: center;
  justify-content: center;
}

#one{
  grid-area: top;
  height: 50px;
}
#two{
  grid-area: center;
  height: auto;
}
#three{
  grid-area: archives;
  height: auto;
}
#four{
  grid-area: other;
  height: 50px;
}
#five{
  grid-area: bottom;
  height: 50px;
}






/* * {
border: 1px solid red !important;
} */
