@import "header.css";
@import "footer.css";
@import "cards.css";

html,
body {
  color: black;
  margin: 0;
  padding: 0;
  font-family: "Montserrat",sans-serif, Helvetica, Arial;
}

/* Main container has 5 main sections: header,image,content,sidebar,footer */
/* Large sized screen */
.container {
  display: grid;
  width: 100vw;
  margin:auto;
  grid-template-columns: 3fr 300px;
  grid-template-rows: repeat(4, autofit);
  grid-template-areas:
  "top top"
  "img img"
  "center right"
  "bottom bottom";
}

/* Image section */
.image {
  grid-area: img;
  height: 400px;
  background-image: url(../images/louvre.JPG);
  background-size: cover;
}

/* Content section: includes "post" and "share" classes */
.content {
  background-color: #e6e6e6;
  grid-area: center;
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
}

.post {
  background-color: white;
  margin: 10px;
  padding: 20px 30px 60px 30px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.post h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.post h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #8c8c8c;
  font-weight: lighter;
}

.post p {
  text-indent: 50px;
  line-height: 25px;
}

article img {
  width: 450px;
  height: 300px;
  object-fit: cover;
}

figcaption {
  color: gray;
  font-size: 10px;
}

.share {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0 10px 10px 10px;
  padding: 20px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  height: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.share h4 {
  padding-bottom: 15px;
}

.share img {
  width: 130px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 50px;
}

.home-button a {
  text-decoration: none;
  color: white;
}

.home-button {
  width: 250px;
}

/* Sidebar section: includes author info and archives */
.sidebar {
  grid-area: right;
  background-color: #e6e6e6;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.archives {
  margin: 10px;
  padding: 10px;
}


/* Small screens */
@media (max-width:450px) {
  .container {
    display: grid;
    width: 100vw;
    margin:auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, autofit);
    grid-template-areas:
    "top"
    "img"
    "center"
    "right"
    "bottom";
  }

  .image {
    height: 250px;
  }
}
/* Medium screens */
@media (min-width:450px) and (max-width:800px) {
  .container {
    display: grid;
    width: 100vw;
    margin:auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, autofit);
    grid-template-areas:
    "top"
    "img"
    "center"
    "right"
    "bottom";
  }

  .sidebar {
    flex-direction: row;
  }
}
